@font-face {
  font-family: "Upheaval";
  src: url("./assets/upheaval/upheavtt.ttf");
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: black;
  height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.App {
  font-family: Upheaval, monospace;
  font-size: 28px;
}
